[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
runway = "~= 0.40"

[dev-packages]
#flightplan = {editable = true, git = "ssh://git@bitbucket.org/corpinfo/flightplan.git"}
flightplan = {path = "../flightplan", editable = true}
